$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
$fa-font-path: "/bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    //    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.navbar-brand {
  height: 40px;
}

.global {
  background-color: #413A3A;
  color: #D4A032;
}

#draw-tools {
  width: 200px;
}

.selectedTool {
  color: red;
}

#CanvasDraw {
  width: 656px;
  height: 656px;
  border: 2px solid dodgerblue;
  background-color: black;
}

#animation-list {
  width: 200px;
  overflow: scroll;
  height: 640px;
}

#canvasAnimationView {
  width: 700px;
}

#canvasDrawView {
  width: 700px;
}

#CanvasAnimation {
  width: 656px;
  height: 656px;
  border: 2px solid dodgerblue;
  //background-color: black;
}

.frameList {
  height: 640px;
  width: 150px;
  overflow: scroll;
}

.clickable {
  cursor: pointer;
}

.settingsIcon {
  padding-top: 0px;
}

.selectedFrame {
  color: #C8DAFF;
  background-color: red;
}

.colpick {
  z-index: 1051;
}

.frame-list {
  height: 315px;
  overflow-y: auto;
}

.player-controls {

  .pushed {
    background-color: dimgrey;
  }
}

.draw-tools {

  button {
    width: 30px;
    height: 30px;
    box-shadow:
    0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
    2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
    inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
    inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
  }
}

.draw-tools-row {

}

// NEW
.selected {
  color: #ff4af4;
}

.show-list {

  .tile-add {
    background-color: #0000FF;
    text-align: center;
  }

  .tile {
    background-color: red;
    text-align: center;
    color: #FFFFFF;
  }
}
.animation-metadata {
  input {
    width: 20px
  }
}

.animationCanvas {
  width: 700px;
  height: 525px;

  canvas {
    width: 500px;
    height: 500px;
    border: 2px solid dodgerblue;
    //background-color: black;
  }
}

.sequence-view {
  background: red;
  cursor: e-resize;
}

.sequence-view:before {
  left: -8px;
  border-left: 8px solid black;
  cursor: move;
}

.time-scale {
  background-color: rosybrown;
  width: 100%;
  height: 40px;
}

.time-scale-hover {
  background-color: wheat;
}
