$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower
$fa-font-path: "/bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #797979;
}

.header {
  .logo {
    width: 150px;
    height: 50px;
  }
}

.selectedTool {
  color: red;
}

button.disabled {
    background-color: #797979;
}

.frameRateSpinner {
  width: 16px;
}

.progress-striped {
  width: 600px;
}

.pushed {
  background-color: dimgrey;
}

.animation-list-panel {
  width: 212px;
}


.dragging {
  color: #ffffff;
  background-color: red;
}

.animationCanvas {
  width: 655px;
  height: 655px;
  overflow: scroll;
  float: left;
  border: 4px solid #ffcf1e;
  background-color: black;
  -webkit-box-shadow: -10px 13px 20px 3px rgba(255, 227, 33, 0.91);
  -moz-box-shadow: -10px 13px 20px 3px rgba(255, 227, 33, 0.91);
  box-shadow: -10px 13px 20px 3px rgba(255, 227, 33, 0.91);

  canvas {
    width: 655px;
    height: 655px;
  }
}

#laser-info {

  color: #ffffff;

  .off {
    color: #fe0505;
  }

  .on {
    color: #10fd08;
  }
}

#animations-page {
  .animationCanvas {
    width: 377px;
    height: 377px;
  }
}

#animation-list {
  overflow: scroll;
  height: 640px;

  .odd {
    background-color: #0b97c4;
  }

  .even {
    background-color: rgba(109, 255, 235, 0.91);
  }

  .selected {
    background-color: red;
  }
}

#sequences-page {
  .sequenceCanvas {
    width: 377px;
    height: 377px;
    border: 4px solid #ffcf1e;
    background-color: black;
    overflow: scroll;
  }
}

#sequence-timeline {
  color: #FFFFFF;
  background-color: #ffffff;
  width: 300px;
  height: 100px;
  overflow: scroll;
  //overflow-x: auto;
  //padding-left: 5px;
  display: inline;

  .timeline-element {
    background-color: #7b7dee;
    float: left;
    border-right: 1px solid black;
    text-align: center;
  }

  .player-controls {
    color: #000000;
  }
}
//#canvasAnimationView {
//  width: 700px;
//}

#canvasDrawView {
  width: 700px;
}

//#CanvasAnimation {
//  width: 656px;
//  height: 656px;
//  border: 4px solid #ffcf1e;
//  //background-color: black;
//}

.frameList {
  height: 640px;
  width: 150px;
  overflow: scroll;
}

.clickable {
  cursor: pointer;
}

.settingsIcon {
  padding-top: 0px;
}

.selectedFrame {
  color: #C8DAFF;
  background-color: red;
}

.colpick {
  z-index: 1051;
}

.frame-list {
  height: 315px;
  overflow-y: auto;
}

.frame-elements {
  height: 400px;
  overflow-y: auto;
}

.player-controls {

  .pushed {
    background-color: dimgrey;
  }

  .zoom {
    float: right;
    color: #ffffff;

    button {
      color: #000;
    }
  }
}

.draw-tools {

  button {
    width: 30px;
    height: 30px;
    box-shadow:
    0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
    2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
    inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
    inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
  }
}

.draw-tools-row {

}

// NEW
.selected {
  color: #ff4af4;
}

.show-list {

  .tile-add {
    background-color: #0000FF;
    text-align: center;
  }

  .tile {
    background-color: red;
    text-align: center;
    color: #FFFFFF;
  }
}
.animation-metadata {
  input {
    width: 20px
  }
}

.sequence-view {
  background: red;
  cursor: e-resize;
}

.sequence-view:before {
  left: -8px;
  border-left: 8px solid black;
  cursor: move;
}

.time-scale {
  background-color: rosybrown;
  width: 100%;
  height: 40px;
}

.time-scale-hover {
  background-color: wheat;
}

/* InfoBox */
#divInfoBoxes {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}
.InfoBox {
  position: absolute;
  right: 5px;
  top: 20px;
  width: 420px;
  color: white;
  z-index: 9999;
  overflow: hidden;
  border: 1px solid transparent;
}
.InfoBox:hover {
  border: 1px solid #fff;
  cursor: pointer;
}
.InfoBox .foto {
  font-size: 50px;
  position: absolute;
  left: 17px;
}
.InfoBox .textoFull {
  width: 93%;
  float: left;
  padding-left: 20px;
}
.InfoBox .textoFoto {
  width: 78%;
  margin: 3px 20px 3px 80px;
  float: left;
}
.miniPic {
  position: absolute;
  bottom: 8px;
  right: 9px;
}
.miniIcono {
  height: 100%;
  font-size: 20px;
}
.InfoBox span {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: -1px;
  display: block;
  margin: 4px 0;
}
.InfoBox p {
  font-size: 13px;
  margin-top: 2px;
}
/* End of InfoBox */
/* Mobile Phones */
@media screen and (max-width: 450px) and (max-width: 767px) {
  /* InfoBox Responsive */
  #divInfoBoxes {
    position: fixed;
    width: 90%;
    right: 0;
    top: 0;
  }
  .InfoBox {
    width: 95%;
  }
  .InfoBox:hover {
    box-shadow: 0px 0px 10px #888888;
    cursor: pointer;
  }
  .InfoBox span {
    font-size: 16px;
    /*font-weight:bold;*/
  }
  .InfoBox p {
    font-size: 12px;
    margin-top: 2px;
  }
  .InfoBox .textoFull {
    width: 93%;
    float: left;
    padding-left: 20px;
  }
  .InfoBox .textoFoto {
    width: 55%;
    margin: 3px 20px 3px 80px;
    float: left;
  }
  /* End of InfoBox Responsive*/
}

/* Animations */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animated.fadeInRight {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}
@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.animated.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}
