<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" data-ng-i18next>ANIMATION.METADATA.TITLE</h4>
        <div class="btn-group pull-right">
            <button class="clickable" ng-click="save()" ng-i18next="[title]DRAW.SAVE"><i class="fa fa-save"></i></button>
        </div>
    </div>
  <div class="panel-body animation-metadata">
    <div class="input-group input-group-sm">
      <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-edit"></i></span>
      <input type="text" class="form-control" data-ng-model="animation.name" placeholder="Name" aria-describedby="sizing-addon3">
    </div>
    <!--<div class="input-group input-group-sm">-->
      <!--<label for="framerate" data-ng-i18next>ANIMATION.METADATA.FRAMERATE</label>-->
      <!--<input id="framerate" data-ng-model="animation.metadata.framerate" ng-keyup="$event.keyCode == 13 && updateFramerate()">-->
    <!--</div>-->
    <div class="input-group input-group-sm">
      <label for="total_frames" data-ng-i18next>ANIMATION.METADATA.TOTAL_FRAMES</label>
      <span id="total_frames">{{ animation.total_frames }}</span>
    </div>
  </div>
</div>
