<div>
  <svg class="time-scale" ng-dblclick="zoom = 1" ng-click="setWalker($event)">
    <line x1="{{walker}}" y1="0" x2="{{walker}}" y2="20" style="stroke: red;stroke-width: 2"></line>
    <line x1="0" y1="0" x2="100%" y2="0" style="stroke:{{timelineColor}};stroke-width:2"></line>
    <time-scale-second ng-repeat="n in [] | range:totalSeconds"></time-scale-second>
  </svg>
  <button ng-click="rewind()" ng-disable="walker == 0"><i class="fa fa-step-backward"></i></button>
  <button ng-click="togglePlay()"><i class="fa fa-play" ng-show="!playing"></i><i class="fa fa-pause" ng-show="playing"></i> </button>
  <button ng-click="zoomOut()" ng-disabled="zoom == 0.1">-</button>
  <button ng-click="zoomIn()">+</button>
  <span>{{zoomProcentage}}%</span>
</div>
