<ul>
  <li>
    <label class="col-md-3 control-label" for="framerate-spinner" ng-i18next>TIMELINE_ELEMENT.SETTINGS.FRAMERATE</label>
    <div class="col-md-9">
      <input id="framerate-spinner" ng-model="settings.framerate">
    </div>
  </li>
  <li>
    <label class="col-md-3 control-label" for="framerate-spinner" ng-i18next>TIMELINE_ELEMENT.SETTINGS.LOOP</label>
    <div class="col-md-9">
      <input id="loopSpinner" ng-model="settings.loop">
      <input type="checkbox" ng-model="loopInfinite">
    </div>
  </li>
</ul>
