<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title" data-ng-i18next>ANIMATION.EDIT.TOOLS.TITLE</h4>
  </div>
  <div class="panel-body draw-tools">
    <!--<div>-->
      <!--<button class="clickable" ng-class="{'selectedTool' : selectedTool == 'circle' }"-->
              <!--ng-click="setTool('circle')" ng-i18next="[title]DRAW.CIRCLE"><i class="fa fa-circle"></i></button>-->
      <button data-ng-repeat="tool in tools" class="clickable" ng-class="{'selectedTool' : current_tool_name == tool.name }"
              ng-click="setTool(tool.name)" ng-i18next="[title]DRAW.LINE"><i class="fa {{tool.icon}}"></i></button>
      <!--<button class="clickable" ng-class="{'selectedTool' : selectedTool == 'path' }" ng-click="setTool('path')"-->
              <!--ng-i18next="[title]DRAW.PATH"><i class="fa fa-paint-brush"></i></button>-->
      <colorpicker color-value="current_color"></colorpicker>
      <button class="clickable" ng-click="history.undo()" ng-class="{ 'disabled' : !history.canUndo() }" ng-disabled="!history.canUndo()" ng-i18next="[title]DRAW.UNDO"><i class="fa fa-undo"></i></button>
      <button class="clickable" ng-click="history.redo()" ng-class="{ 'disabled' : !history.canRedo() }"  ng-disabled="!history.canRedo()" ng-i18next="[title]DRAW.REDO"><i class="fa fa-repeat"></i></button>

    <!--{{getHistoryIndex()}}-->
      <!--<button class=" clickable" ng-class="{'selectedTool' : selectedTool == 'rectangle' }"-->
              <!--ng-click="setTool('rectangle')" ng-i18next="[title]DRAW.RECTANGLE"><i class="fa fa-cube"></i></button>-->
      <!--<button class="clickable" ng-class="{'selectedTool' : selectedTool == 'circle' }"-->
              <!--ng-click="setTool('circle')" ng-i18next="[title]DRAW.CIRCLE"><i class="fa fa-circle"></i></button>-->
      <!--<button class="clickable" ng-class="{'selectedTool' : selectedTool == 'shape' }"-->
              <!--ng-click="setTool('shape')" ng-i18next="[title]DRAW.SELECT"><i class="fa fa-pencil"></i></button>-->
    <!--</div>-->
    <!--<div>-->
      <!--<button class="clickable" ng-class="{'selectedTool' : selectedTool == 'text' }" ng-click="setTool('text')"-->
              <!--ng-i18next="[title]DRAW.TEXT"><i class="fa fa-font"></i></button>-->
    <!--</div>-->
    <!--<div>-->
      <!--<button class="clickable" ng-class="{'selectedTool' : selectedTool == 'save' }" ng-click="save();"-->
              <!--ng-i18next="[title]DRAW.SAVE"><i class="fa fa-save"></i></button>-->
    <!--</div>-->
  </div>
</div>
