<div class="modal-header">
    <h2 class="modal-title" id="titleLabel"><span
            ng-i18next>SETTINGS.TITLE</span>
    </h2>
</div>

<div class="modal-body">
    <span><span ng-i18next>SETTINGS.COMPANY_NAME</span>: <input type="text" ng-model="companyName"/></span>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="save()" ng-i18next>MAIN.SAVE</button>
    <button type="button" class="btn btn-default" ng-click="cancel()" ng-i18next>MAIN.CANCEL</button>
</div>