<div>
  <!--<div gridster="sequenceListGrid">-->
    <ul class="sequence-list">
      <li> <!-- gridster-item size-x="2" size-y="2">-->
        <span class="tile-add">
          <span ng-hide="openAddSequence"><button ng-click="openAddSequence = true"><i class="fa fa-plus"></i></button></span>
          <span ng-show="openAddSequence"><input type="text" ng-model="newSequence" ng-keyup="$event.keyCode == 13 && createSequence()"></span>
        </span>
      </li>
      <li class="tile clickable" ng-click="setSequence(tile.sequence)"
          ng-repeat="tile in tiles | orderBy:'-sequence.name'">
        <span class="tile" ng-class="{'selected': selectedSequence.id == tile.sequence.id}">{{tile.sequence.name}}</span>
      </li>
    </ul>
  <!--</div>-->
</div>
