<ul class="nav nav-pills pull-right">
  <li>
    <laser-status></laser-status>
  </li>
  <li ng-class="{'active' : isSelected('create_animation')}">
    <a class="navbar-brand" href="#create_animation" ng-i18next>NAV.EDIT_ANIMATION</a>
  </li>
  <li ng-class="{'active' : isSelected('shows')}">
    <a class="navbar-brand" href="#show_collection" ng-i18next>NAV.SHOWS</a>
  </li>
  <li ng-class="{'active' : isSelected('animations')}">
    <a class="navbar-brand" href="#animation_collection" ng-i18next>NAV.ANIMATIONS</a>
  </li>
  <li ng-class="{'active' : isSelected('sequences')}">
    <a class="navbar-brand" href="#sequence_collection" ng-i18next>NAV.SEQUENCES</a>
  </li>
  <li>
    <a class="navbar-brand" href="" ng-click="uploadIlda();">Upload ILDA file</a>
  </li>
  <li>
    <div class="navbar-brand" style="padding-top: 5px;">
      <i class="fa fa-cog fa-2x clickable" ng-click="settings();"></i>
    </div>
  </li>
</ul>
<div ng-view></div>
