<div class="col-lg-12" ng-controller="drawCtrl">
    <div class="col-lg-3" id="draw-tools">
        <!--<div class="draw-tools-row">-->
            <!--<button class="fa fa-cube clickable" ng-class="{'selectedTool' : selectedTool == 'rectangle' }" ng-click="drawRectangle();" ng-i18next="[title]DRAW.RECTANGLE"></button>-->
            <!--<button class="fa fa-circle clickable" ng-class="{'selectedTool' : selectedTool == 'circle' }" ng-click="drawCircle();" ng-i18next="[title]DRAW.CIRCLE"></button>-->
            <!--<button class="fa fa-pencil clickable" ng-class="{'selectedTool' : selectedTool == 'shape' }" ng-click="selectShape();" ng-i18next="[title]DRAW.SELECT"></button>-->
        <!--</div>-->
        <!--<div class="draw-tools-row">-->
            <!--<button class="fa fa-steam clickable" ng-class="{'selectedTool' : selectedTool == 'path' }" ng-click="drawPath();" ng-i18next="[title]DRAW.PATH"></button>-->
            <!--<button class="fa fa-long-arrow-right clickable" ng-class="{'selectedTool' : selectedTool == 'line' }" ng-click="drawLine();" ng-i18next="[title]DRAW.LINE"></button>-->
            <!--<button class="fa fa-font clickable" ng-class="{'selectedTool' : selectedTool == 'text' }" ng-click="drawText();" ng-i18next="[title]DRAW.TEXT"></button>-->
        <!--</div>-->
        <!--<div class="draw-tools-row">-->
            <!--<button class="fa fa-save clickable" ng-class="{'selectedTool' : selectedTool == 'save' }" ng-click="save();" ng-i18next="[title]DRAW.SAVE"></button>-->
            <!--<button class="fa fa-female clickable" ng-class="{'selectedTool' : selectedTool == 'new frame' }" ng-click="newFrame();" ng-i18next="[title]DRAW.NEW_FRAME"></button>-->
            <!--<colorpicker></colorpicker>-->
        <!--</div>-->
    </div>
    <div class="col-lg-3"  id="canvasDrawView">
        <div class="canvasDraw">
            <canvas id="CanvasDraw"></canvas>
            <player canvas-id="CanvasDraw"></player>
        </div>
    </div>
    <div class="col-lg-3">
      Bla
        <!--<framelist name="name" frames="frames" editable="true"/>-->
    </div>
</div>
