<div class="player-controls">
  <button ng-click="rewind()" data-ng-disabled="playing"><i class="fa fa-backward"></i></button>
  <button ng-click="backward()" data-ng-disabled="playing"><i class="fa fa-step-backward"></i></button>
  <button ng-click="togglePlay()"><i class="fa fa-play" ng-show="!playing"></i><i class="fa fa-pause" ng-show="playing"></i> </button>
  <button ng-click="forward()" data-ng-disabled="playing"><i class="fa fa-step-forward"></i></button>
  <button ng-click="last()" data-ng-disabled="playing"><i class="fa fa-forward"></i></button>
  <button ng-class="{'pushed' : loop}" ng-click="toggleLoop()" data-toggle="button"><i class="fa fa-retweet"></i></button>

  <span class="zoom">
    {{ getZoom() }} %
    <button ng-click="zoomOut()" ng-disabled="zoom == 0.1"><i class="fa fa-minus"></i></button>
    <button ng-click="zoomIn()"><i class="fa fa-plus"></i></button>
  </span>
</div>
